#menu li a.selected {
	color:#53358f;
}
#menu li.current_page_item a, #menu a:hover {
	color:#53358f;
}
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover {
	color:#53358f;
}
.pagination li a {
	background:#fbfbfb url(images/pagination-blue.png) 10px 0 no-repeat;
}
#slides .next {
	background:url(images/next-blue.png) no-repeat;
}
#slides .prev {
	background:url(images/prev-blue.png) no-repeat;
}
.feature-blog .feature-blog-item h1 a{
color:#53358f;
}
.feature-buttons a.btn-1 {
	background-image:url(images/button-blue.png);
}
.footer{
background:#53358f url(images/footer-bg-blue.png) repeat-x;
}
.footer .footer-inner h3{
background:url(images/footer-line-blue.png) bottom repeat-x;
text-shadow:0 2px 0 #4f367f;
}
 .footer .footer-inner .searchform {
	background: url(images/search-bg-blue.png);
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#slides .next {
	background:url(images/next-blue1.png) no-repeat;
}
#slides .prev {
	background:url(images/prev-blue1.png) no-repeat;
}
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
#slides .next {
	top:37.5%;
	background:url(images/next-blue1.png) no-repeat;
}
#slides .prev {
	top:37.5%;
	background:url(images/prev-blue1.png) no-repeat;
}
}