#menu li a.selected {
	color:#268e10;
}
#menu li.current_page_item a, #menu a:hover {
	color:#268e10;
}
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover {
	color:#268e10;
}
.pagination li a {
	background:#fbfbfb url(images/pagination-forest.png) 10px 0 no-repeat;
}
#slides .next {
	background:url(images/next-forrest.png) no-repeat;
}
#slides .prev {
	background:url(images/prev-forrest.png) no-repeat;
}
.feature-blog .feature-blog-item h1 a{
color:#268e10;
}
.feature-buttons a.btn-1 {
	background-image:url(images/button-forest.png);
}
.footer{
background:#21760e url(images/footer-bg-forrest.png) repeat-x;
}
.footer .footer-inner h3{
background:url(images/footer-line-forrest.png) bottom repeat-x;
text-shadow:0 2px 0 #4e9ab1;
}
 .footer .footer-inner .searchform {
	background: url(images/search-bg-forrest.png);
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#slides .next {
	background:url(images/next-forrest1.png) no-repeat;
}
#slides .prev {
	background:url(images/prev-forrest1.png) no-repeat;
}
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
#slides .next {
	top:37.5%;
	background:url(images/next-forrest1.png) no-repeat;
}
#slides .prev {
	top:37.5%;
	background:url(images/prev-forrest1.png) no-repeat;
}
}